<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <title>Home</title>
  </head>

  <body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="h-screen flex flex-col gap-5 items-center justify-center w-full">
      <h1 class="text-3xl font-bold text-slate-700 text-center">
        Selamat Datang di ManproManpro!
      </h1>
    </div>
  </body>
</html>
