<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  </head>
  <body>
    <nav
      th:fragment="navbar"
      class="sticky flex flex-wrap w-full items-center justify-between bg-slate-800 px-5 md:px-10 py-3 gap-y-2"
    >
      <a href="/">
        <h1 class="text-xl md:text-2xl font-bold text-neutral-100">
          ManproManpro
        </h1>
      </a>

      <ul
        class="flex items-center gap-4 text-white font-medium text-sm text-center flex-shrink-0"
      >
        <li class="flex-shrink-0">
          <a
            href="/proyek/viewall"
            class="md:px-3 md:py-2 hover:bg-white hover:bg-opacity-40 rounded-lg"
            >Projects</a
          >
        </li>
        <li class="flex-shrink-0">
          <a
            href="/pekerja/viewall"
            class="md:px-3 md:py-2 hover:bg-white hover:bg-opacity-40 rounded-lg"
            >Pekerja</a
          >
        </li>
        <li class="flex-shrink-0">
          <a
            href="/developer/viewall"
            class="md:px-3 md:py-2 hover:bg-white hover:bg-opacity-40 rounded-lg"
            >Developers</a
          >
        </li>
      </ul>
    </nav>
  </body>
</html>
