<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <title>Add Project</title>
  </head>

  <body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="screen flex w-full items-center justify-center px-10 py-5">
      <div
        class="w-full rounded-xl border border-gray-300 bg-white px-10 py-5 shadow-xl md:w-[70%]"
      >
        <h2 class="text-center text-xl font-bold">Add Project</h2>

        <form
          th:action="@{/proyek/add}"
          th:object="${proyekDTO}"
          method="POST"
          class="mt-8"
        >
          <div class="flex flex-col md:grid md:grid-cols-2 gap-5">
            <div>
              <label for="nama" class="font-medium text-slate-600 text-sm"
                >Nama Project</label
              >
              <input
                th:field="*{nama}"
                placeholder="Nama Project"
                type="text"
                required
                class="mt-2 w-full rounded-lg border border-gray-200 px-4 py-2 focus:outline-none focus:ring-1 focus:ring-blue-500"
              />
            </div>

            <div>
              <label for="status" class="font-medium text-slate-600 text-sm"
                >Status</label
              >
              <select
                th:field="*{status}"
                required
                class="mt-2 w-full rounded-lg border border-gray-200 px-4 py-2 focus:outline-none focus:ring-1 focus:ring-blue-500"
                placeholder="Status Project"
              >
                <option value="1">On Going</option>
                <option value="2">Finished</option>
              </select>
            </div>

            <div>
              <label
                for="tanggalMulai"
                class="font-medium text-slate-600 text-sm"
                >Tanggal Mulai</label
              >
              <input
                th:field="*{tanggalMulai}"
                type="date"
                required
                class="mt-2 w-full rounded-lg border border-gray-200 px-4 py-2 focus:outline-none focus:ring-1 focus:ring-blue-500"
              />
            </div>

            <div>
              <label
                for="tanggalSelesai"
                class="font-medium text-slate-600 text-sm"
                >Tanggal Selesai</label
              >
              <input
                th:field="*{tanggalSelesai}"
                type="date"
                required
                class="mt-2 w-full rounded-lg border border-gray-200 px-4 py-2 focus:outline-none focus:ring-1 focus:ring-blue-500"
              />
            </div>

            <div>
              <label for="deskripsi" class="font-medium text-slate-600 text-sm"
                >Deskripsi</label
              >
              <textarea
                th:field="*{deskripsi}"
                placeholder="Deskripsi"
                type="text"
                required
                class="mt-2 w-full rounded-lg border border-gray-200 px-4 py-2 focus:outline-none focus:ring-1 focus:ring-blue-500"
              />
            </div>

            <div>
              <label for="developer" class="font-medium text-slate-600 text-sm"
                >Developer</label
              >
              <select
                th:field="*{developer}"
                required
                class="mt-2 w-full rounded-lg border border-gray-200 px-4 py-2 focus:outline-none focus:ring-1 focus:ring-blue-500"
                placeholder="Pilih Developer"
              >
                <option
                  th:each="developer: ${developers}"
                  th:value="${developer.id}"
                  th:text="${developer.nama}"
                ></option>
              </select>
            </div>
          </div>

          <div class="w-full flex flex-col">
            <button
              class="w-fit rounded-full bg-blue-400 px-8 py-2 font-semibold text-white hover:bg-blue-500 active:bg-blue-600 self-end"
              type="submit"
              name="addRow"
            >
              Add Row
            </button>
            <table class="w-full mt-4">
              <thead
                class="font-semibold text-slate-700 text-left align-top text-sm"
              >
                <tr>
                  <th class="w-[45%]">Pekerja</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="pekerja, iterStat : *{listPekerja}">
                  <td class="py-2 w-[45%] pr-2">
                    <select
                      th:field="*{listPekerja[__${iterStat.index}__].id}"
                      placeholder="Select Pekerja"
                      type="text"
                      required
                      class="mt-2 w-full rounded-lg border border-gray-200 px-4 py-2 focus:outline-none focus:ring-1 focus:ring-blue-500"
                    >
                      <option
                        th:each="option : ${listPekerjaOption}"
                        th:value="${option.id}"
                        th:text="${option.nama}"
                      ></option>
                    </select>
                  </td>
                  <td>
                    <button
                      type="submit"
                      class="rounded-lg bg-red-400 p-2 font-medium text-white hover:bg-red-500 active:bg-red-600"
                      name="deleteRow"
                      th:value="${iterStat.index}"
                    >
                      <img
                        th:src="@{/icon/trash.svg}"
                        alt="Trash"
                        title="Trash"
                      />
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="flex items-center gap-4 mt-5">
            <button
              type="submit"
              class="w-fit rounded-full bg-blue-400 px-8 py-2 font-semibold text-white hover:bg-blue-500 active:bg-blue-600"
            >
              Submit
            </button>
            <a
              href="/proyek/viewall"
              class="w-fit rounded-full bg-red-400 px-8 py-2 font-semibold text-white hover:bg-red-500 active:bg-red-600"
            >
              Cancel
            </a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
