<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <title>Detail</title>
  </head>

  <body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="flex min-h-screen w-full flex-col items-center p-10">
      <h1 class="text-2xl font-bold text-slate-700">Project Information</h1>
      <div
        class="mt-5 flex w-[90%] flex-col gap-2 rounded-xl bg-white p-5 shadow-xl md:w-[50%] border border-gray-300"
      >
        <h3
          class="mx-auto text-xl font-bold text-slate-600"
          th:text="${proyek.nama}"
        >
          Project Name
        </h3>
        <hr class="" />
        <p
          class="mx-auto font-semibold text-gray-400"
          th:text="${'Developed by: ' + proyek.developer.nama}"
        >
          Developer Name
        </p>
        <div class="mt-2">
          <p class="font-semibold text-gray-500">Project ID</p>
          <p class="mt-1 text-slate-500" th:text="${proyek.id}">
            Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="mt-2">
          <p class="font-semibold text-gray-500">Deskripsi</p>
          <p class="mt-1 text-slate-500" th:text="${proyek.deskripsi}">
            Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="mt-2">
          <p class="font-semibold text-gray-500">Start Date</p>
          <p class="mt-1 text-slate-500" th:text="${proyek.tanggalMulaiStr}">
            Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="mt-2">
          <p class="font-semibold text-gray-500">End Date</p>
          <p class="mt-1 text-slate-500" th:text="${proyek.tanggalSelesaiStr}">
            Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="mt-2">
          <p class="font-semibold text-gray-500">Status</p>
          <p class="mt-1 text-slate-500" th:text="${proyek.statusStr}">
            Lorem ipsum dolor sit amet.
          </p>
        </div>
        <div class="mt-2">
          <p class="font-semibold text-gray-500">Created At</p>
          <p class="mt-1 text-slate-500" th:text="${proyek.createdAt}">
            Month dd, yyyy | hh:mm:dd
          </p>
        </div>
        <div class="mt-2">
          <p class="font-semibold text-gray-500">Last Updated at</p>
          <p class="mt-1 text-slate-500" th:text="${proyek.updatedAt}">
            Month dd, yyyy | hh:mm:dd
          </p>
        </div>
        <p class="font-semibold text-gray-500 mt-2">Pekerja</p>
        <table class="w-full text-left text-sm text-gray-500 rtl:text-right">
          <thead class="bg-gray-50 text-xs uppercase text-gray-700">
            <tr>
              <th scope="col" class="px-3 py-3">ID</th>
              <th scope="col" class="px-6 py-3">Name</th>
              <th scope="col" class="px-6 py-3">Age</th>
              <th scope="col" class="px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b bg-white hover:bg-gray-100" th:each="pekerja: ${proyek.listPekerja}">
              <th
                scope="row"
                class="whitespace-nowrap px-3 py-3 font-medium text-gray-900"
                th:text="${pekerja.id}"
              >
                1
              </th>
              <td class="px-6 py-3" th:text="${pekerja.nama}">Nama</td>
              <td class="px-6 py-3" th:text="${pekerja.usia + ' tahun'}">Tahun</td>
              <td class="px-6 py-3 text-right">
                <a  th:href="@{/pekerja/{id}(id=${pekerja.id})}" class="rounded-lg bg-blue-400 px-3 md:px-5 py-1 md:py-1.5 text-sm font-medium text-white hover:bg-blue-500 active:bg-blue-600"
                  >Detail</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-5 w-[90%] md:w-[50%]">
        <a
          href="/proyek/viewall"
          class="rounded-lg bg-blue-400 px-5 py-1.5 font-medium text-white hover:bg-blue-500 active:bg-blue-600"
          >Back
        </a>
      </div>
    </div>
  </body>
</html>
