<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <title>All Projects</title>
  </head>

  <body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="flex flex-col gap-8 items-center justify-center p-5 md:p-10">
      <div class="text-center">
        <h2 class="text-2xl text-slate-800 font-bold">Daftar Project</h2>
      </div>
      <div class="w-full">
        <form
          action="/proyek/viewall"
          method="get"
          class="mx-auto flex w-full flex-col flex-wrap items-start md:items-center justify-center gap-2 px-5 py-4 md:flex-row"
        >
          <input
            type="text"
            name="nama"
            id="nama"
            placeholder="Nama Proyek"
            th:value="${namaSelected != null ? namaSelected : ''}"
            class="w-full md:w-60 rounded-lg border border-gray-200 px-4 py-2 focus:outline-none focus:ring-1 focus:ring-blue-500"
          />
          <select
            name="status"
            id="status"
            class="w-full md:w-48 rounded-lg border border-gray-200 px-4 py-2 focus:outline-none focus:ring-1 focus:ring-blue-500"
            aria-placeholder="Pilih Status"
          >
            <option value="">All</option>
            <option th:selected="${statusSelected == '1'}" value="1">
              On Going
            </option>
            <option th:selected="${statusSelected == '2'}" value="2">
              Finished
            </option>
          </select>
          <button
            class="w-fit rounded-lg bg-blue-400 px-4 py-2 font-semibold text-white hover:bg-blue-500 active:bg-blue-600"
          >
            Filter
          </button>
        </form>
      </div>

      <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
        <div th:each="proyek: ${listProyek}">
          <div th:insert="fragments/proyekCard::proyekCard(${proyek})"></div>
        </div>
      </div>
      <div class="flex items-center gap-5">
        <a
          type="button"
          class="rounded-full bg-slate-800 px-5 py-1.5 font-medium text-white hover:bg-slate-700 active:bg-slate-600"
          href="/proyek/add"
          >Tambah Proyek</a
        >
        <a
          type="button"
          class="rounded-full bg-slate-800 px-5 py-1.5 font-medium text-white hover:bg-slate-700 active:bg-slate-600"
          href="/"
          >Home</a
        >
      </div>
    </div>
  </body>
</html>
